/* IMPORT FONTS */

@import url('https://fonts.googleapis.com/css2?family=K2D:wght@300;400;500&display=swap'); /* K2D font : font-weight = 300, 400 et 500*/
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500&display=swap'); /* Raleway font : font-weight = 300, 400 et 500*/

/* STYLE DE LA PAGE */

* {
    margin: 0;
    padding: 0;
    color: #111111;
}

body {
    overflow-x : hidden; 
}

nav ul li a {
    font-family: 'K2D', sans-serif;
    font-weight: 400;
}

.titresCanvasSection {
    font-family: 'K2D', sans-serif;
    font-weight: 400;
}

/* Image de fond et animation du train */

#bgImage {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    object-fit: cover;
}

.image-container {
    position: absolute;
    top: 46%;
    transform: translateY(-50%);
    animation: deplacementImage 5s linear infinite;
}

#train {
    height: 100px;
    object-fit: cover;
}

#rail {
    position: absolute;
    top: 57%;
    left: -2.2%;
    height: 30px;
    object-fit: cover;
    z-index: -1;
}

.imgDecor {
    position: fixed;
}

#arbre1 {
    bottom: 35%;
    left: 10%;
}

#arbre2 {
    bottom: 35%;
    left: 20%;
}

#arbre3 {
    bottom: 35%;
    left: 60%;
}

#colline1 {
    bottom: 39%;
    right: 0;
    width: 500px;
}

@keyframes deplacementImage {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}

/* Navigation */

nav {
    margin: 15px;
    float: right;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline-block;
    padding: 10px;
}

nav ul li a {
    text-decoration: none;
    font-size: xx-large;
}

nav ul li:active, nav ul li a:active {
    color: grey;
    text-decoration: none;
}

/* MOUVEMENTS SOCIAUX */

#MvtSoc {
    position: absolute;
    top: 25%;
    left: 7.5%;
    width: 50%;
    height: 60%;
    display: none; /* Cache initialement la section */
    padding: 20px;
    border-radius: 10px;
}  

#FondMvtSoc {
    position: fixed;
    top: 20%;
    left: 10%;
    z-index: 1;
    width: 80%;
    height: 70%;
    background-color: #E5E5E5;
    border-radius: 35px;
    opacity: .5;
}

#MvtAnnuels {
    position: fixed;
    top: 32.5%;
    left: 12.5%;
    z-index: 5;
    background-color: #E5E5E5;
    padding: 20px;
    border-radius: 10px;
}

#MvtMensuels {
    position: fixed;
    top: 32.5%;
    left: 12.5%;
    z-index: 5;
    background-color: #E5E5E5;
    padding: 20px;
    border-radius: 10px;
}

#textMvtSoc {
    position: absolute;
    top: 2.5%;
    left: 57.5%;
    z-index: 5;
    font-size: 24px;
    transform: translateX(-50%);
    color: #111111;
}

#DivButMvtSoc {
    position: fixed;
    top: 20%;
    right: 10%;
    z-index: 5;
    width: 27.5%;
    height: 56.9%;
    border-radius: 10px;
}

#DivButMvtSocP1 {
    position: relative;
    top: 27.5%;
    left: 13%;
    height: 50%;
    width: 75%;
    font-size: 21px;
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
}

#DivButMvtSoc button {
    position: fixed;
    top: 42.5%;
    height: 6%;
    width: 10%;
    border-radius: 10px;
    background-color: #111111;
    font-size: 18px;
    color: #eeeeee;
    font-family: 'K2D', sans-serif;
    font-weight: 100;
}

#DivButMvtSoc button:hover {
    background-color: #555555;
}

#butMensuels {
    right: 13.75%;
}

#butAnnuels {
    right: 24%;
}

#DivButMvtSocP2 {
    position: absolute;
    top: 60%;
    left: 10%;
    width: 80%;
    text-align: justify;
    font-size: 19px;
    font-family: 'K2D', sans-serif;
    font-weight: 200;
}

/* JOURS DE REPOS */

#JourRepos {
    position: absolute;
    top: 25%;
    left: 10%;
    width: 50%;
    height: 55%;
    display: none; /* Cache initialement la section */
    padding: 20px;
    border-radius: 10px;
    color: #111111;
}   

#FondJourRepos {
    position: fixed;
    top: 20%;
    left: 10%;
    z-index: 1;
    width: 80%;
    height: 70%;
    background-color: #E5E5E5;
    border-radius: 35px;
    opacity: .5;
}

#JourRepos > canvas {
    position: absolute;
    top: 12.5%;
    left: 5%;
    z-index: 5;
    background-color: #E5E5E5;
    padding: 20px;
    border-radius: 10px;
}   

#JourRepos * {
    color: #111111;
}

#textJourRepos {
    position: absolute;
    top: 3%;
    left: 56%;
    z-index: 5;
    width: 80%;
    font-size: 24px;
    transform: translateX(-50%);
    color: #111111;
}

#ZoneTexteJourRepos {
    position: fixed;
    top: 25%;
    right: 5%;
    width: 30%;
    height: 50%;
    border-radius: 10px;
    z-index: 3;
}

#ZoneTexteJourRepos #ZoneTexteJourReposP1 {
    position: absolute;
    top: 22.5%;
    left: 12%;
    font-size: 21px;
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
}

#ButsJourRepos {
    position: fixed;
    top: 40%;
    right: -2.5%;
    width: 30%;
    height: 45%;
    z-index: 5;
}

#ButsJourRepos label label {
    position: relative;
    left: -25px;
    cursor: pointer;
    font-size: 22px;
    top: 5px;
}

#ButsJourRepos label {
    position: relative;
    padding-left: 30px;
    cursor: pointer;
}

#ButsJourRepos label {
    --color: #e13a9d; 
}

#ButsJourRepos label input {
    display: none; 
}

#ButsJourRepos label input:checked ~ span {
    border-color: var(--color);
    transform: rotateZ(45deg) translate(1px, -5px);
    width: 10px;
    border-top: 0px solid black;
    border-left: 0px solid black; 
}

#ButsJourRepos label span {
    display: inline-block;
    position: absolute;
    top: 4px;
    left: 0;
    width: 16px;
    height: 16px;
    border: 2px solid black;
    transition: .3s; 
}

#ButsJourRepos label input:disabled ~ span {
    opacity: 0.4; 
}  

#ZoneTexteJourRepos #ZoneTexteJourReposP2 {
    position: absolute;
    top: 80%;
    right: 27.5%;
    width: 70%;
    text-align: justify;
    font-size: 19px;
    font-family: 'K2D', sans-serif;
    font-weight: 200;
} 

/* TEMPS DE TRAVAIL ANNUEL */

#TTA {
    position: absolute;
    top: 20%;
    left: 10%;
    z-index: 2;
    width: 50%;
    height: 65%;
    display: none; /* Cache initialement la section */
    padding: 20px;
    border-radius: 10px;
}

#TempsTravailAnnuel {
    position: fixed;
    top: 32.5%;
    z-index: 8;
    background-color: #E5E5E5;
    padding: 30px;
    border-radius: 10px;
}

#FondTTA {
    position: fixed;
    top: 20%;
    left: 10%;
    z-index: 1;
    width: 80%;
    height: 70%;
    background-color: #E5E5E5;
    border-radius: 35px;
    opacity: .5;
}

#textTTA {
    position: absolute;
    top: 9%;
    left: 51%;
    z-index: 5;
    width: 67.5%;
    font-size: 24px;
    transform: translateX(-50%);
    color: #111111;
}

#ZoneTextTTA {
    position: fixed;
    top: 32.5%;
    right: 6.25%;
    z-index: 5;
    width: 30%;
    height: 50%;
    border-radius: 10px;
}

#ZoneTextTTA > p {
    font-size: 20px;
    width: 80%;
    text-align: justify;
    font-size: 19px;
    font-family: 'K2D', sans-serif;
    font-weight: 200;
}

#ZoneStatsTTA {
    position: fixed;
    top: 57.5%;
    right: 11.25%;
    z-index: 5;
    width: 25%;
    border-radius: 10px;
    font-size: 20px;
    font-size: 19px;
    font-family: 'K2D', sans-serif;
    font-weight: 200;
}

/* INFOGRAPHIE */

#Infographie {
    display: none;
}

#FondInfographie {
    position: fixed;
    top: 15%;
    left: 20%;
    z-index: 1;
    width: 60%;
    height: 80%;
    background-color: #E5E5E5;
    border-radius: 35px;
    opacity: .5;
}

#ImgInfographie {
    position: fixed;
    top: 16.25%;
    left: 21%;
    z-index: 2;
    width: 35%;
    padding: 20px;
    border-radius: 35px;
}

#Infographie #ZoneTextInfog #ZoneTextInfogP1 {
    position: absolute;
    top: 24%;
    right: 26%;
    z-index: 5;
    font-size: 30px;
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
}

#Infographie #ZoneTextInfog #ZoneTextInfogP2 {
    position: absolute;
    top: 32.5%;
    right: 23%;
    width: 17.5%;
    z-index: 5;
    text-align: justify;
    font-size: 19px;
    font-family: 'K2D', sans-serif;
    font-weight: 200;
}