* {
    margin: 0;
    padding: 0;
    background-color: #111111;
    color: #ffffff;
}

nav {
    margin: 15px;
    float: right;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline-block;
    padding: 10px;
}

nav ul li a {
    text-decoration: none;
    font-size: xx-large;
}

nav ul li:active, nav ul li a:active {
    background-color: red;
    text-decoration: none;
}

#MvtSoc {
    display: none; /* Si tu veux que la section soit initialement cachée */
    padding: 20px;
    border-radius: 10px;
}

#aaa,
#bbb {
    display: none; /* Cache les canvases par défaut */
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
}

#ccc {
    position: fixed;
    top: 15%;
    left: 10%;
    width: 50%;
    height: 70%;
    border-radius: 10px;
    background-color: red; /* Ajuste selon tes préférences */
}

#fff {
    position: fixed;
    top: 45%;
    left: 10%;
    width: 50%;
    height: 70%;
    border-radius: 10px;
    background-color: red; /* Ajuste selon tes préférences */
}

#ddd {
    position: fixed;
    top: 15%;
    right: 5%;
    width: 30%;
    height: 100%;
}

#ddd button {
    height: 5%;
    border-radius: 10px;
    background-color: blue;
    font-size: large;
}

/* Investissement */
#but1 {
    position: fixed;
    top: 15%;
    right: 5%;
    width: 10%;
    height: 70%;
    border-radius: 10px;
}

/* Collisions */
#but2 {
    position: fixed;
    top: 15%;
    right: 17.5%;
    width: 7%;
    height: 100%;
}